<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>The best solution for your needs|KDF</title>
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		{% load staticfiles %}
			<link rel="stylesheet" href="{% static 'form/css/extra/skel.css'%}" />
			<link rel="stylesheet" href="{% static 'form/css/extra/style.css'%}" />
			<link rel="stylesheet" href="{% static 'form/css/extra/style-xlarge.css'%}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		{% include "Resources/form/Form_header.html" %}
		{% include "Resources/form/banner2.html" %}

	</body>
</html> 
