<!DOCTYPE html>
<html>
   <!-- Head -->
   {% include "Resources/head.html" %}
   <!-- //Head -->
   <!-- Body -->
   <body>
      <!-- Header -->
      <div class="header w3layouts-1">
         <!-- Top-Bar -->
         {% include "Resources/topbar.html" %}
         <!-- //Top-Bar -->
         <!-- banner -->
         {% include "Resources/Contact/banner.html" %}
         <!-- //banner -->
      </div>
      <!-- //Header -->
      <!-- contact form -->
      {% include "Resources/Contact/contact.html" %}
      <!-- //contact form -->
      <!-- map -->
      {% include "Resources/Contact/map.html" %}
      <!-- //map -->
      <!-- subscribe -->
      {% include "Resources/subscribe.html" %}
      <!--// subscribe -->
      <!-- footer -->
      {% include "Resources/footer.html" %}
      <!-- footer -->
      <!-- footer -->
   </body>
   <!-- //Body -->
</html>