<!DOCTYPE html>
<html lang="en">
	<head>
      <title>The best options for your needs | KDF</title>
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'form/css/extra/skel.css'%}" />
      <link rel="stylesheet" href="{% static 'form/css/extra/style.css'%}" />
      <link rel="stylesheet" href="{% static 'form/css/extra/style-xlarge.css'%}" />
   </head>
	<body>

		{% include "Resources/form/Form_header.html" %}
		{% include "Resources/form/Form.html" %}

	</body>
