<head>
   <title>The best solution for your needs|KDF</title>
   <!-- Meta-Tags -->
   {% load staticfiles %}
<meta name="msvalidate.01" content="4FE81DA9FC38E7AFA4BB4C6527315E2A" />   
<meta name="google-site-verification" content="Wedp8KyQ4sqFrMRPE_FL6_TF3DhNNsbXpHS0LiUPhVM" />  
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta name="description" content="Get quick fast 
    cash from reliable lenders. No Credit Check & No Fees." />
   <meta name="keywords" content="Mortgage Loans, Personal Loans,easy loans, small business loans, credit 
    line,Business loans for real state, equipment leasing, Business Loans,Low rate loans,lenders new york, cash lender, 
    Loans In New York City, Get Loans in New York" /> 
   <script type="application/x-javascript">

 addEventListener("load", 
function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		   <!-- //Meta-Tags -->
   <!-- Custom-Theme-Files -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
   <link rel="stylesheet" href=" {% static 'css/style.css' %}" type="text/css" media="all">
   <!-- //Custom-Theme-Files -->
   <!-- Web-Fonts -->
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" 	type="text/css">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" 				type="text/css">
   <!-- //Web-Fonts -->
   <!-- Default-JavaScript-File -->
   <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/responsiveslides.min.js' %}"></script>
   <script>
      $(function () {
      	$("#slider").responsiveSlides({
      		auto: true,
      		pager: true,
      		nav: true,
      		speed: 1000,
      		namespace: "callbacks",
      		before: function () {
      			$('.events').append("<li>before event fired.</li>");
      		},
      		after: function () {
      			$('.events').append("<li>after event fired.</li>");
      		}
      	});
      });
   </script>
</head>
