<div class="footer-bottom agileits-w3layouts-1">
   <div class="container">
      <h3>Subscribe</h3>
      <p class="ttt">HEAR ABOUT KDF TIPS, EVENTS & MORE</p>
      <form action="#" method="post">{% csrf_token %}
         <input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
         <input type="email" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
         <input type="submit" value="Submit">
      </form>
   </div>
</div>
