{% load staticfiles %}
<div class="w3l-1">
   <div class="container">
      <h3 class="text-center">What Does KDF Do?</h3>
      <!--<p class="ttt">when an unknown printer took a galley of type and scrambled Lorem Ipsum passages, and more recently it to make a type specimen book.</p>-->	
      <div class="col-md-6 centered w3l-1-left">
         <!--<h4>Letraset sheets containing </h4>-->
         <p>KDF Capital Ventures is a financial company committed to supporting people with their financial needs. By using our online free of charge service, you can quickly apply for Personal loans, Mortgage loans or any small to large business loans, we will adjust to your needs and provide you with the best options to carry out your plans.</p>
         <p>We give consumers multiple offers only from recognized and reliable financial entities, this is how we ensure that you will be secure in the entire process and that your rates will be low.</p>
         <p>Whether you’re a first time homebuyer looking for a mortgage or you’re in the market for a small business loan, we’ve got you covered.</p>
      </div>
      <div class="col-md-6 w3l-1-right">
      </div>
   </div>
   <!--/ .container -->
   <div class="any-buttom">
      <a href="/Loans/" type="button">Get Started</a>
   </div>
</div>
