{% load staticfiles %}
<div class="agileinfo">
   <div class="container">
      <h3>We have the right loan for you</h3>
      <p class="ttt">We have all loan options in one place, you pick the one that fits.</p>
      <div class="flexslider-info">
         <section class="slider">
            <div class="flexslider">
               <ul class="slides">
                  <li>
                     <div class="banner-info">
                        <div class="col-md-7 agileinfo-left">
                           <img src="{% static 'images/slide-12.jpg' %}" alt="">
                        </div>
                        <div class="col-md-5 agileinfo-grid grid-one">
                           <h4>Mortgage</h4>
                           <p>When you connect with us, you'll be one step closer to owning a home. After you fill out the form a mortgage consultant will be in touch soon to answer your questions about getting prequalified and discuss your home financing needs.</p>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </li>
                  <li>
                     <div class="banner-info">
                        <div class="col-md-7 agileinfo-left">
                           <img src="{% static 'images/slide-13.jpg' %}" alt="">
                        </div>
                        <div class="col-md-5 agileinfo-grid grid-one">
                           <h4>Business</h4>
                           <p>For numerous small and medium-sized businesses. Our trusted lending programs, ensure business owners have fast and flexible access to working capital. Let us support you through periods of seasonal slowdown, limited cash flow, new contract or inventory needs, and much more.</p>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </li>
                  <li>
                     <div class="banner-info">
                        <div class="col-md-7 agileinfo-left">
                           <img src="{% static 'images/slide-1.jpg' %}" alt="">
                        </div>
                        <div class="col-md-5 agileinfo-grid grid-one">
                           <h4>Mortgage for business</h4>
                           <p>KDF gives you expert advice, flexible terms and competitive rates. We'll work with you to design custom-tailored loans that fit your specific needs. Plus, you can always count on prompt responses and excellent customer service from our highly experienced commercial loan specialists.</p>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </li>
                  <li>
                     <div class="banner-info">
                        <div class="col-md-7 agileinfo-left">
                           <img src="{% static 'images/slide-11.jpg' %}" alt="">
                        </div>
                        <div class="col-md-5 agileinfo-grid grid-one">
                           <h4>Personal</h4>
                           <p>With low personal loan interest rates and a fixed monthly payment, you can get loans to pay off credit cards, pay off high interest debt, or make a major purchase. It only takes minutes to apply.</p>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </li>
               </ul>
            </div>
         </section>
      </div>
   </div>
</div>