{% load staticfiles %}
<div class="friend-agent agileits-1">
   <div class="container">
      <h3>Why use our service?</h3>
      <p class="ttt">Thousands of loans approved all across the United States.</p>
      <div class="friend-grids">
         <div class="col-md-4 friend-grid">
            <img src="{% static 'images/easy.png' %}" alt="" class="img-responsive" >
            <h4>Easy</h4>
            <p>We provide the easier process in the market. Just click get started, fill out the form and submit.</p>
         </div>
         <div class="col-md-4 friend-grid">
            <img src="{% static 'images/fast.png' %}" alt="" class="img-responsive" >
            <h4>Fast</h4>
            <p>We will take only 24 hours to get back to you.</p>
         </div>
         <div class="col-md-4 friend-grid">
            <img src="{% static 'images/secure.png' %}" alt="" class="img-responsive" >
            <h4>Secure</h4>
            <p>We use an advanced 256-bit SSL encryption while handling your data. All your private information is kept securely in an encrypted format.</p>
         </div>
         <div class="col-md-4 friend-grid">
            <img src="{% static 'images/no-limit.png' %}" alt="" class="img-responsive" >           
             <h4>No Limits</h4>
            <p>We don't put limits!, just tell us how much you need, And we will process your request.</p>
         </div>
         <div class="col-md-4 friend-grid">
            <img src="{% static 'images/shaking-hands.png' %}" alt="" class="img-responsive" >
            <h4>Free</h4>
            <p>Our service is free!, our mission is to give our clients the loan plan that better fits their needs.</p>
         </div>
         <div class="col-md-4 friend-grid">
            <img src="{% static 'images/good-rates.png' %}" alt="" class="img-responsive" >
            <h4>Good rates</h4>
            <p>Friendly rates to adjust your needs.</p>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
   <div class="any-buttom">
      <a href="/Loans/" type="button">Get Started</a>
   </div>
</div>
