{% load staticfiles %}
<div class="slider">
   <div class="callbacks_container">
      <ul class="rslides" id="slider">
         <li>
            <div class="slider-img">
               <img src="{% static 'images/slide-6.jpg' %}" class="img-responsive1" alt="Manufactory">
            </div>
            <div class="slider-info w3ls-1">
               <h3>Welcome to a new kind of</h3>
               <h3>finance company.</h3>
               <div class="underline"></div>
               <p>We help you get a loan, from real and reliable financial entities.</p>
            </div>
         </li>
         <li>
            <div class="slider-img">
               <img src="{% static 'images/slide-7.jpg' %}" class="img-responsive1" alt="Manufactory">
            </div>
            <div class="slider-info">
               <h3>Focus in your business.</h3>
               <h3>While we find the better loan.</h3>
               <div class="underline"></div>
               <p></p>
            </div>
         </li>
         <li>
            <div class="slider-img">
               <img src="{% static 'images/slide-3.jpg' %}" class="img-responsive1" alt="Manufactory">
            </div>
            <div class="slider-info w3ls-1">
               <h3>Low rates.</h3>
                <h3>Free service & no hidden fees.</h3>
               <div class="underline"></div>
               <p></p>
            </div>
         </li>
         <!-- <li>
            <div class="slider-img">
               <img src="{% static 'images/slide-4.jpg' %}" class="img-responsive1" alt="Manufactory">
            </div>
            <div class="slider-info w3ls-1">
               <h3>Voluptate velit esse</h3>
               <div class="underline"></div>
               <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam molestiae.</p>
            </div>
         </li> -->
 
      </ul>
   </div>
   <div class="clearfix"></div>
</div>