

<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>KDF Capital Ventures</h2>
						<p>You are only a couple of clicks away from your loan!</p>
					</header>

<div class="formbox">
    <form method="POST" action=".">{% csrf_token %} {{ form.as_p }}

        <input type="submit" value="Next" href="#" class="button2"></input>
    </form>
<p>This is a free service provided by KDF Capital Ventures. By clicking Next, you (i) consent to receiving calls and messages, including autodialed calls for marketing purposes, from KDF Capital Ventures or its representatives or agents at the telephone number provided in the form (including mobile telephone number); and (ii) acknowledge that you have read KDF Capital Ventures’s Application Agreement and KDF Capital Ventures’s Privacy Policy and understand that you may opt out of receiving communications of your choice from KDF Capital Ventures as provided in the Privacy Policy.</p>

</div>
</div>
</section>